*{
	text-decoration: none;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #2D2735;
}
/*Menú*/

/*
header{
	background-color: #1C1821;
	color: white;
}
#btn-menu{
	display: none;
}
header label{
	display: none;
	cursor: pointer;
}
header img{
	width: 200px;
}
header .menu {
	display: inline;
	padding: 2.5%;
	float: right;
}
header nav a{
	color: white;
	font-style: italic; 
	padding: 6px 15px;
	font-size: 0.9em;
}
header nav a:hover{
	color: black;
	background-color: white;
	border-radius: 5px;
}

@media screen and (max-width : 760px) {
	header label{
		display: block;
		float: right;
	}
	.menu{
		position: absolute;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 50%;
		background-color: #1C1821;
		transition: all 0.4s;
		transform: translateX(-100%);
	}
	#btn-menu:checked - .menu{
		transform: translateX(100%);
	}
} 
/*end---*/

/*Flores - Sections*/
.flor{
	background-image: url("../image/header-image.jpg");
	background-size: cover;
	margin: 2%;
	background-position: top;
	padding-top: 9%;
	padding-bottom: 12%;
}
.opaco{
	background-color: #1C1821;
	width: 55%;
	text-align: center;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 4%;
}
.opaco h1{
	font-family: 'Courgette', cursive;
	font-size: 4em;
	color: #F7BA6A;
	margin-bottom: 4%;
}
.opaco p{
	color: white;
	font-size: 0.8em;
	font-style: italic;
}
.opaco p span{
	margin-left: 10px;
	margin-right: 10px;
}
.flower{
	width: 100%;
}
.black{
	background-color: #1C1821;
	margin: 4% 0% 6%;
}
.black h4{
	text-align: center;
	font-family: 'Courgette', cursive;
	color: #F7BA6A;
	padding: 4% 0% 1%;
}
.black p{
	text-align: center;
	color: white;
	font-size: 0.9em;
	font-style: italic;
	padding: 1% 0% 3%;
}
p.texto{
	font-style: normal;
	text-align: justify;
	padding-right: 3%;
	padding-left: 3%;
	font-size: 0.9em;
}
.caja{
	background-color: #1C1821;
	padding: 5%;
	border-radius: 5px;
	margin-top: 6%;
}
.col-5 input{
	background-color: #2D2735;
	border: none;
	border-radius: 5px;
	width: 100%;
	padding: 3% 5%;
}
.social{
	margin-left: 4%;
}
.social a:hover{
	color: black;
}
.social a{
	display: inline-block;
    background: #2D2735;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin: 10px 5px ;
}
.social i{
	margin-top: 10px;
}
/*end---*/

/*Footer*/
footer{
	text-align: center;
	color: white;
	background-color: #1C1821;
	padding: 2%;
	font-size: 0.8em;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
