*{
	text-decoration: none;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #2D2735;
}
/*Menú*/
header img{
	width: 175px;
}
header{
	background-color: #1C1821;
	color: white;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	padding-left: 15%;
	padding-right: 15%;
}
header .barra{
	display: flex;
	float: right;
	margin-top: 1.5%;
}
#btn-menu{
	display: none;
}
header label{
	display: none;
	font-size: 30px;
	width: 50px;
	text-align: center;
	cursor: pointer;
}
.menu ul{
	margin: 0;
	padding: 0;
	display: flex;
}
.menu li a {
	display: block;
	padding: 6px 16px;
	font-style: italic;
	color: white;
	font-size: 0.9em;
}
header .menu a:hover{
	background-color: rgba(256, 256, 256, 0.2);
}

/*Menú Responsive*/
@media screen and (max-width : 920px) {
	header{
		padding: 0%;
	}
	header label{
		display: block;
	}
	.menu{
		position: absolute;
		top: 58px;
		right: 0;
		background-color: #1C1821;
		width: 30%;
		transform: translateX(100%);
		transition: all 0.6s;
	}
	.menu ul{
		flex-direction: column;
	}
	.menu li a{
		font-style: normal;
	}
	.menu li{
		text-align: center;
	}
	header .menu a:hover{
		padding: 10px;
	}
	#btn-menu:checked ~ .menu{
		transform: translateX(0%);
	}
}
/*end---*/

/*Flores - Sections*/
.flor{
	background-image: url("../image/header-image.jpg");
	background-size: cover;
	margin: 8% 0% 2%;
	background-position: top;
	padding-top: 9%;
	padding-bottom: 12%;
}
.opaco{
	background-color: #1C1821;
	width: 55%;
	text-align: center;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 4%;
}
.opaco h1{
	font-family: 'Courgette', cursive;
	font-size: 4em;
	color: #F7BA6A;
	margin-bottom: 4%;
}
.opaco p{
	color: white;
	font-size: 0.8em;
	font-style: italic;
}
.opaco p span{
	margin-left: 10px;
	margin-right: 10px;
}
.flower{
	width: 100%;
}
.black{
	background-color: #1C1821;
	margin: 4% 0% 6%;
}
.black h4{
	text-align: center;
	font-family: 'Courgette', cursive;
	color: #F7BA6A;
	padding: 4% 0% 1%;
}
.black p{
	text-align: center;
	color: white;
	font-size: 0.9em;
	font-style: italic;
	padding: 1% 0% 3%;
}
p.texto{
	font-style: normal;
	text-align: justify;
	padding-right: 3%;
	padding-left: 3%;
	font-size: 0.9em;
}
.caja{
	background-color: #1C1821;
	padding: 5%;
	border-radius: 5px;
	margin-top: 6%;
}
.col-5 input{
	background-color: #2D2735;
	border: none;
	border-radius: 5px;
	width: 100%;
	padding: 3% 5%;
}
.social{
	margin-left: 4%;
}
.social a:hover{
	color: black;
}
.social a{
	display: inline-block;
    background: #2D2735;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin: 10px 5px ;
}
.social i{
	margin-top: 10px;
}

/*Sections Responsive*/
@media screen and (max-width : 920px) {
	.flor{
		margin: 10% 0% 2%;
		background-position: center;
		padding-top: 8%;
		padding-bottom: 10%;
	}
	.opaco{
		width: 40%;
		padding-top: 6%;
		padding-bottom: 6%;
	}
	.row .col-7{
		width: 100%;
	}
	.row .col-5{
		width: 100%;
	}
}
/*end---*/

/*Footer*/
footer{
	text-align: center;
	color: white;
	background-color: #1C1821;
	padding: 2%;
	font-size: 0.8em;
}

/* Responsive */

@media screen and (max-width : 920px) {
	footer{
		width: 100%;
	}
}

@media screen and (max-width: 600px) {

}
